<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="656f80">  <td>18/09/20 14:56:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Browse_RoomCategory.executeTest()[pri:0, instance:[Browse_RoomCategory passed=0 failed=0 skipped=0]]">executeTest</td> 
  <td>main@2014838114</td>   <td>592983282 </td> </tr>
<tr bgcolor="ce84aa">  <td>18/09/20 14:56:26</td>   <td>-4890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestCaseRegression.setUp()[pri:0, instance:[Browse_RoomCategory passed=0 failed=0 skipped=0]]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2014838114</td>   <td>592983282 </td> </tr>
</table>
